extends layoutAdmin

block content
    .row
      .col-md-12.col-sm-12
        .card.mb-4
          .card-header
            | Add Note
          .card-body
             form(role="form", action="/PostAddNote", method="post")
                .form-group
                  label(for='exampleInputEmail1' ) Title
                  input#exampleInputEmail1.form-control(type='text', aria-describedby='emailHelp', placeholder='Title', name='title')

                .form-group
                  label(for='') Select 
                  select#w.form-control.select2-multiple(name="tags" multiple="multiple")
                    option(value='Sql') Sql
                    option(value=' C#') C#         
                    option(value='Java') Java
                    option(value='Node Js') Node Js         
                    option(value='Java Script') Java Script
                    option(value='Python') Python
                .row
                  .form-group.col-md-9
                    input#exampleInputEmail1.form-control(type='text',
                    name="code[0][desc]", aria-describedby='emailHelp', placeholder='Title')
                     
                  .form-group.col-md-3.selectlang
                    select.form-control.form-control(name="code[0][codelang]")
                      option(value="htmlmixed") Html
                      option(value="text/css")  CSS
                      option(value="text/javascript")  JavaScript
                      option(value="text/x-sql")  SQl
                      option(value="text/x-csharp")  C#
                      option(value="text/x-python")  Python
                      option(value="text/x-java")  Java
                      option(value="text/x-php")  PHP
                      option(value="text/x-c++src")  C++
                      option(value="text/x-csrc")  C
                      option(value="text/x-go")  Go
                      option(value="text/x-rsrc")  R
                      option(value="application/x-powershell")  PowerShell
                      option(value="")  Others...

                .form-group.note-body
                  textarea#code.code.form-control(rows='8',name='code[0][body]',style="margin: 10px;",value="")
                  
                .row
                  .col-md-5
                  .col-md-2
                      a.btn.btn-outline-secondary.btn-block.btn-sm.btn-user(id='addprogrammingnotebody')
                         i.fas.fa-plus.fa-sm
                  .col-md-5
                      
                  button.btn.btn-primary.btn-user(type='submit') Submit


