extends layoutAdmin
            
block content
    .row#anapp
      .col-md-12.col-sm-12
        .card.mb-4
          .card-header{{message}}
          .card-body
             form(role="form", action="/PostAddNote", method="post")
                .form-group
                  label(for='exampleInputEmail1' ) Title
                  input.form-control(type='text', aria-describedby='', v-model="nodeModel.title", placeholder='Title', name='title')
                .row
                  .form-group-4.col-md-3
                        <span>General Subject (Scienc, Technology...)</span>
                        input#technology.form-control
                  .form-group-4.col-md-3
                        <span>Specific subject (Component, library...)</span>
                        input#specificSubject.form-control
                   .form-group-4.col-md-2
                        <span>Project </span>
                        input#project.form-control  
                  .form-group-4.col-md-2
                        <span>Note Type</span>
                        select2.form-control(url="/GetNoteTypes",  @input-data="getSelectValue" , v-model="selected")
                        //- input#nType.form-control()
                   .form-group-4.col-md-2
                        div(for='exampleInputEmail1' ) Book Mark
                        input#checkbox-3.checkbox-custom(name='checkbox-3', type='checkbox',v-model="nodeModel.bookMark")
                        label.checkbox-custom-label(for='checkbox-3')
                br
                .row(v-for="(item, index) in nodeModel.model")
                  .form-group.col-md-10
                    input#exampleInputEmail1.form-control(type='text', v-model="item.desc"
                    name="code[0][desc]", aria-describedby='emailHelp', placeholder='Title')
                     
                  .form-group.col-md-2.selectlang
                    select.form-control.form-control(name="code[0][codelang]",v-model="item.lang")
                      option(value="htmlmixed") Html
                      option(value="text/css")  CSS
                      option(value="text/javascript")  JavaScript
                      option(value="text/x-sql")  SQl
                      option(value="text/x-csharp")  C#
                      option(value="text/x-python")  Python
                      option(value="text/x-java")  Java
                      option(value="text/x-php")  PHP
                      option(value="text/x-c++src")  C++
                      option(value="text/x-csrc")  C
                      option(value="text/x-go")  Go
                      option(value="text/x-rsrc")  R
                      option(value="application/x-powershell")  PowerShell
                      option(value="")  Others...
                  .form-group.col-md-12.note-body
                    code-mirror.form-control(v-bind:body="item.mainbody",rows='8' ,style="margin: 10px;"
                     v-bind:lang="item.lang",v-bind:index="index", :key="componentKey" ,@input-text-area="updateCodeMirrorText" 
                    ) 

                .row
                  .col-md-5
                  .col-md-2
                      a.btn.btn-outline-secondary.btn-block.btn-sm.btn-user(id='', v-on:click="add()")
                          i.fas.fa-plus.fa-sm
                  .col-md-5
                      
              button.btn.btn-primary.btn-user(type='button', v-on:click="submit()") Submit
     script.
      $(document).ready(function(){
        console.log("EnableAddNode")
        window.EnableAddNode();
      })
      
