extends layoutAdmin

block content
  #banner.page-header
    
    .row
       .col-lg-12
        // Dropdown Card Example
        .card.shadow.mb-4
          // Card Header - Dropdown
          .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
            h6.m-0.font-weight-bold.text-primary=  model.title
            .dropdown.no-arrow
              a#dropdownMenuLink.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                i.fas.fa-ellipsis-v.fa-sm.fa-fw.text-gray-400
              .dropdown-menu.dropdown-menu-right.shadow.animated--fade-in(aria-labelledby='dropdownMenuLink', x-placement='bottom-end', style='position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(17px, 18px, 0px);')
                .dropdown-header Dropdown Header:
                a.dropdown-item(href='#') Action
                a.dropdown-item(href='#') Another action
                .dropdown-divider
                a.dropdown-item(href='#') Something else here
          // Card Body
          //- .card-body(model= model.id, style="")
          //-   each bodyVal in model.body
          //-         if bodyVal
          //-           textarea#code.code.form-control(rows='8',name='body',style="margin: 10px;",value="")= bodyVal
          //-           br
          //- .card-footer.text-muted
          //-   each tagVal in model.tags 
          //-             span.tag=  tagVal
          .card-body.cardHeigth(model= model.id, style="")
              each code in model.code
                    if code.description
                      h6= code.description
                    if code.mainbody
                      textarea#code.mirrorCode.form-control(rows='8',lang=code.porgrammingStylelanguge ,name='body',style="margin: 10px;",value="")= code.mainbody
                      br
          .card-footer.text-muted
              //-  each tagVal in model.tags 
              //-         span.tag=  tagVal
     script(type='text/javascript' , src='/ApplicationJs/AddNoteJs.js')
