extends layoutAdmin

block content
    .container
      .row
        .col-sm-12.col-md-12.col-lg-12.mx-auto
          .card.card-signin.my-5
            .card-body
              br
              form.form-signin
                a.btn.btn-lg.btn-google.btn-block.text-uppercase(href='/auth/google', style="background: #e64b01;color: white;")
                  i.fab.fa-google.mr-2
                  |  Sign in with Google
              br



//-     .row
//-       .col-lg-6
//-         h1= pageHeader.title
//-          small &nbsp;#{pageHeader.strapline}
//-   .row
//-     .col-xs-12.col-sm-8(ng-controller="locationListCtrl")
//-       label(for="filter") Filter results
//-       input#filter(type="text", name="filter", ng-model="textFilter")
//-       .error {{ message }}
//-       .row.list-group
//-         .col-xs-12.list-group-item(ng-repeat="location in data.locations | filter : textFilter")
//-           h4 
//-             a(href="/location/{{ location._id }}") {{ location.name }}
//-             small.rating-stars(rating-stars, rating="location.rating")
//-             //- small
//-             //-   rating-stars(rating="location.rating")
//-             span.badge.pull-right.badge-default {{ location.distance | formatDistance }}
//-           p.address {{ location.address }}
//-           p
//-             span.label.label-warning.label-facility(ng-repeat="facility in location.facilities")
//-               | {{ facility }}
//-     .col-xs-12.col-sm-4 
//-       p.lead= sidebar

<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->
