extends layout

block content
  style(type='text/css').
    .mc-wrapper {
        background: white;
        box-shadow: 0 2px 2px 1px rgba(92, 81, 81, 0.38);
    }
    .moreContent {
            padding: 20px;
            position: relative;
        }
            
  //--------------------------------------------------------------------------
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
    .row
      .col-md-6
        .container()
            .mc-wrapper
             .moreContent
                h1 moreContent.js
                textarea#code.code.form-control(rows='8',name='body',style="margin: 10px;",value="")
   
      .col-md-6
        .container()
          .mc-wrapper
            .moreContent
                h1 moreContent.js
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam molestie justo non nisi elementum, sit amet mollis magna rutrum. Aliquam porttitor ipsum vel lacus lacinia pellentesque. Donec aliquam cursus elementum. Integer vel sollicitudin est. Mauris commodo lacus non eros iaculis, et lobortis odio hendrerit. Phasellus pellentesque commodo maximus. Donec bibendum magna neque, id fermentum nunc tempor nec. Nulla pellentesque purus et felis egestas euismod. Ut vestibulum vulputate augue at luctus. Morbi eu eros urna. Fusce dapibus faucibus posuere. Sed sed enim nulla. Etiam eu felis nec sapien convallis suscipit non ac est. Curabitur sed felis eu leo fermentum tristique. Vestibulum imperdiet hendrerit libero a sodales. Sed fringilla eget magna eget feugiat.
                p
                    | Quisque cursus venenatis vestibulum. Phasellus volutpat libero eu odio tristique, non auctor libero condimentum. Sed a tempus lorem. Integer elementum pulvinar congue. Phasellus ac porttitor arcu. Nulla eget finibus turpis, et eleifend mi. Nunc euismod rhoncus consectetur. Proin consequat risus libero, ut condimentum nunc lobortis mollis. Pellentesque volutpat felis quam, ut aliquam massa ultrices at. Suspendisse consectetur vulputate interdum. Proin efficitur ullamcorper massa non rhoncus. Aliquam mollis, eros nec facilisis bibendum, augue nunc sodales ex, in efficitur turpis leo ac massa. Nullam at ex felis. Sed sem diam, pellentesque et sapien in, accumsan pulvinar purus. Curabitur id sapien lectus.
                p
                    | Sed lobortis sollicitudin turpis in vulputate. Sed lobortis condimentum risus nec pharetra. Maecenas non velit eu est mattis porttitor sit amet rutrum nisl. Vivamus vestibulum, lacus in imperdiet condimentum, tortor massa tempor est, ac congue ante metus a magna. Sed pharetra magna arcu, eu pulvinar turpis iaculis ac. Vivamus mattis, sem non mollis iaculis, nunc ligula lacinia dui, in egestas est nisl a turpis. Sed tempus enim vel nibh pretium, nec euismod nulla luctus. Curabitur semper accumsan nisi, eu eleifend felis placerat nec. Sed consectetur quis nibh ac sagittis. In mattis ac est sit amet euismod. Integer auctor scelerisque gravida. Donec fringilla dapibus lectus, mattis consectetur tellus luctus eget. Etiam sem eros, bibendum vitae dictum eget, maximus maximus velit. Praesent tempus dignissim nibh, sed egestas diam suscipit malesuada.
                p
                    | Nam laoreet gravida velit. Aliquam erat volutpat. Mauris pharetra ante sit amet pharetra pretium. Sed porttitor venenatis nibh non consectetur. Nullam volutpat massa sit amet tempor tincidunt. Ut ac viverra neque. Sed eleifend lobortis rutrum. Vivamus elementum, nibh sed sagittis dignissim, tellus urna molestie neque, a pretium dolor mi eget dui. Maecenas viverra ante at fringilla lobortis. Suspendisse gravida, arcu sit amet congue semper, purus orci pulvinar felis, id vulputate nibh lectus ac mauris. Morbi et pulvinar ante, in lobortis justo. Suspendisse potenti.
                p
                    | In et nunc vel nunc eleifend tempor. Nam sit amet iaculis metus, a tempor ipsum. Nam nec tellus sit amet justo consequat pharetra vitae at risus. Etiam pellentesque eleifend malesuada. Fusce eget ante id tortor iaculis finibus. Maecenas volutpat arcu luctus lacus pellentesque, a malesuada quam sollicitudin. Proin vulputate rutrum urna, nec faucibus neque elementum in. Nulla neque nunc, tincidunt in hendrerit nec, rutrum ac justo. Nunc sodales nunc eget dolor porttitor, non lacinia ipsum aliquam. Ut vel sodales quam. In hac habitasse platea dictumst. Fusce tincidunt est et libero pulvinar, ut tincidunt odio finibus. Nullam pulvinar, tortor eget finibus tempus, purus augue euismod odio, vitae semper diam sapien at ante. Donec mi leo, facilisis a arcu a, maximus ullamcorper lectus. Nullam cursus libero dolor, ac finibus urna pharetra sed.
                button.btn-default Open    
