extends layoutAdmin
block content
  style.
    .cardHeigth{
      height: 100px;
      overflow-y: scroll;
    }
     ::-webkit-scrollbar {
      width:8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #4e73dfba; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #4e73dfba; 
    } 
    .OpenCloseNoteIcon:hover{
      color: green !important;

    }
    .deleteNoteIcon:hover{
      color: #9f0101 !important;
      cursor : pointer;
    }
    .card-footer span{
      margin-right:5px;
    }
  
  //--------------------------------------------------------------------------
  div#app
   #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
                        .modal-content
                          .modal-header
                            h5#exampleModalLabel.modal-title Delete Note
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                              span(aria-hidden='true') ×
                          .modal-body Do you want to delete this Note?
                          .modal-footer
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                            a.btn.btn-primary(href='#'  ,v-on:click="deleteNote(deleteModalNote.id,deleteModalNote.index)"  ) Ok
    #banner.page-header

      .form-row   
        .col-md-4.mb-3
          input#validationCustom01.form-control(type='text',v-model="searchModel.searchTextBox", v-on:keyup.enter="search()", placeholder='Search for...', aria-label='Search', aria-describedby='basic-addon2')
          .valid-feedback
        .col-md-0.5.mb-0.5  
         input#checkbox-3.checkbox-custom(name='checkbox-3', type='checkbox',v-model="searchModel.bookMark")
         label.checkbox-custom-label(for='checkbox-3')
        button.btn.btn-primary.mb-3(type='button',v-on:click="search()")
                 i.fas.fa-search.fa-sm
      .row
          .col-lg-6(v-for="(item, index) in boxmodel",v-bind:note-id="item._id", :key="item._id")
            
            //- // Dropdown Card Example
            .card.shadow.mb-4
              //- // Card Header - Dropdown
              .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between(v-on:dblclick="OpenCloseNote(item._id)")
                a(v-bind:href="'/Note?id='+item._id+'&title='+item.title.replace(/ /g,'_')", style="text-decoration: none;")
                  h5.m-0.font-weight-bold.text-primary {{item.title}}
                a.OpenCloseNote( v-on:click="OpenCloseNote(item._id)" ,href="#")
                  i.OpenCloseNoteIcon.fa.fa-arrows-alt.text-gray-400

              //- // Card Body
              .card-body.cardHeigth(v-bind:id="'oc-'+item._id", style="")
                  div(v-for="code in item.code")
                      h6 {{code.description}}
                      code-mirror.form-control(v-bind:body="code.mainbody",rows='8' ,v-bind:lang="code.porgrammingStylelanguge", :key="componentKey" , v-bind:id="code._id") 
                      br
                .card-footer.text-muted
                  //a.deleteNote(style=("float: right;"), v-on:click="deleteNote(item._id,index)")
                    i.deleteNoteIcon.fa.fa-trash.text-gray-400
                  a.deleteNote( v-on:click="openDeleteModal(item._id,index)" , style=("float: right;"))
                    i.deleteNoteIcon.fa.fa-trash.text-gray-400                   
                  
                  span.badge.badge-primary(v-if="item.projectName"){{item.projectName}}
                  span.badge.badge-info(v-if="item.Technology"){{item.Technology}}
                  //- span.badge.badge-dark(v-if="item.Type"){{item.Type}}

       